<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layoutPadrao}">
<head>
    <meta charset="UTF-8"/>
    <title>Carrinho de compra</title>
</head>
<section layout:fragment="conteudo">
    <h4>Carrinho de compra</h4>
    
    <button><a class="btn btn-primary" th:href="@{/}">COMPRAR MAIS!!</a></button>

    <div class="container">
        <br/>
        <br/>

        <table class="table">

            <thead>
            <tr>
                <th>Código</th>
                <th>Descrição</th>
                <th>Qtde</th>
                <th>Valor unit.</th>
                <th>Valor Total</th>
                <th>Operação</th>
            </tr>

            </thead>
            <tbody>
<!-- 	private Long codigo;
    private String descricao;
    private int qtde;
    private BigDecimal unit;
    private BigDecimal vlTotal;
    private BigDecimal vlFrete;
    private BigDecimal vlTotalF; -->

            <tr th:each="produto : ${produtos}">
                <td th:text="${produto.codigo}"></td>
                <td th:text="${produto.descricao}"></td>
                <td th:text="${produto.qtde}"></td>
                <td th:text="${produto.unit}"></td>
                <td th:text="|R$ ${{produto.vlTotal}}|"></td>
               <!-- <td th:text="|R$ ${{produto.vlTotalF}}|"></td> --> 
                <td>
                <a class="btn btn-primary" th:href="@{/produtos/retirar/{id}(id=${produto.codigo})}"
                onclick="return confirm('Redirar produto no CARRINHO ?')">ADICIONAR</a>
            </tr>
            <tr>
                <td colspan="5" th:if="${#lists.isEmpty(produtos)}">Carrinho vazio, vamos <a class="btn btn-primary" th:href="@{/}">COMPRAR!!</a></td>
            </tr>
            </tbody>

        </table>
    </div>
</section>
</html>