<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layoutPadrao}">
<head>
    <meta charset="UTF-8"/>
    <title>Lista de produtos</title>
</head>
<section layout:fragment="conteudo">
    <h4>Lista de produtos</h4>
    <button><a class="btn btn-primary" th:href="@{/carrinho-de-Compra}">CARRINHO</a></button>
    <div class="container">
        <br/>
        <br/>

        <table class="table">

            <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>PRICE</th>
                <th>SCORE</th>
                <th>IMAGE</th>
                <th>Operação</th>
            </tr>

            </thead>
            <tbody>
            <tr th:each="produto : ${produtos}">
                <td th:text="${produto.id}"></td>
                <td th:text="${produto.name}"></td>
                <td th:text="|R$ ${{produto.price}}|"></td>
                <td th:text="${produto.score}"></td>
                <td th:text="${produto.image}"></td>
                <td>
                <a class="btn btn-primary" th:href="@{{id}(id=${produto.id})}"
                onclick="return confirm('Adicionar produto no CARRINHO ?')">ADICIONAR</a>
            </tr>
            <tr>
                <td colspan="5" th:if="${#lists.isEmpty(produtos)}">Nenhum produto cadastrado!</td>
            </tr>
            </tbody>

        </table>
    </div>

</section>
</html>